/*------------------------------------------ FOOTER */
/* --- descope */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

  .footer-block {
    width: 16%;
    display: inline-block;
    float: left;

    h3.footer-block-heading {
      color: @color-white;
      font-size: 16px;
      padding-bottom: @indent__s;

    }

    ul.bullet a {
      color: @color-gray68;
      font-size: 12px;
    }

    .infolinia {
      color: @color-gray68;
    }

    p span {
      color: @color-gray68;
    }

    &.footer-newsletter button span {
      color: @color-white;
      text-transform: uppercase;
      line-height: 22px;
      width: 90px;
      display: block;
    }

    .facebook, .youtube {
      background: @color-white;
      width: 32px;
      height: 32px;
      float: left;
      margin: 0 10px 10px 0;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: @color-gray20;
      transition-duration: .3s;
      position: relative;
    }

    .email {
      padding-top: 15px;
    }

    .phone-number, .email {
      font-size: 14px;
      font-weight: 700;
    }
  }

}
//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


  .footer.content{
    padding-top: @indent__x;
    padding-bottom: @indent__x;
  }

  .footer-block {
    width: 50%;
    display: inline-block;
    float: left;

    h3.footer-block-heading {
      color: @color-white;
      font-size: 16px;
      padding-bottom: @indent__s;

    }

    ul.bullet a {
      color: @color-gray68;
      font-size: 12px;
    }

    .infolinia {
      color: @color-gray68;
    }

    p span {
      color: @color-gray68;
    }

    &.footer-newsletter button span {
      color: @color-white;
      text-transform: uppercase;
      line-height: 22px;
      width: 90px;
      display: block;
    }

    .facebook, .youtube {
      background: @color-white;
      width: 32px;
      height: 32px;
      float: left;
      margin: 0 10px 10px 0;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: @color-gray20;
      transition-duration: .3s;
      position: relative;
    }

    .email {
      padding-top: 15px;
    }

    .phone-number, .email {
      font-size: 14px;
      font-weight: 700;
    }
  }

}