
.kategories {


  .category-custom-box:nth-child(2n+2) {
    margin-right: unset;
  }
  .category-custom-box:nth-child(2n+1) {
    margin-left: unset;
  }
  .category-custom-box {
    width: ~"calc(50% - 10px)";
    display: inline-block;
    margin: 10px;
    float: left;
    max-height: 45vw;

    img {
      margin: auto;
      display: block;
    }

    a span {
      text-align: center;
      width: 100%;
      display: block;
      padding-top: @indent__base;
      padding-bottom: @indent__base;
      color: @color-black;
      font-size: 16px;
    }

    a{
      text-decoration: none;
    }


  }
}



.service-block {
  width: 100%;
  display: inline-block;
  float: left;
  margin: @indent__xs 0px ;
  padding-bottom:  @indent__base;
  background-color: @color-gray90;

  img{
    float: left;
    padding: @indent__s;
  }

  h3{
    color: @color-otomeble;
  }



}

.position-text {
  font-size: 16px;
  font-weight: 100;
}


.shield:before {
  background-image: url('@{baseDir}/images/icons/shield.svg');
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 80px;
  display: block;
  content: "";
  float: left;
  margin: 0px @indent__base;
}

.circle:before {
  background-image: url('@{baseDir}/images/icons/three-circling-arrows.svg');
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 80px;
  display: block;
  content: "";
  float: left;
  margin: 0px @indent__base;
}

.delivery:before {
  background-image: url('@{baseDir}/images/icons/box.svg');
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 80px;
  display: block;
  content: "";
  float: left;
  margin: 0px @indent__base;
}