/*-----------------float */

@float-right: right;
@float-left: left;
@float-none: none;

/*---------------indents */
@indent__xx: @indent__base * 3; // 60px
@indent__x: @indent__base * 5 / 2; // 50px
